<div class="card">
  <div class="card-header">
    Manter Sistema

    <span class="float-right destaque_vermelho">* Campo Obrigatório</span>
  </div>
  <div class="card-body">
    <fieldset class="border p-2">
      <legend class="w-auto legenda">Dados do Sistema</legend>
      <form [formGroup]="formulario">
        <div class="form-group row">
          <label for="descricao" class="col-sm-4 col-form-label bordaBottom">Descrição <span class="destaque_vermelho">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="descricao" formControlName="descricao">
          </div>
        </div>
        <div class="form-group row">
          <label for="sigla" class="col-sm-4 col-form-label bordaBottom">Sigla <span class="destaque_vermelho">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="sigla" formControlName="sigla">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label bordaBottom">E-mail de atendimento do sistema</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="email" formControlName="email">
          </div>
        </div>
        <div class="form-group row">
          <label for="url" class="col-sm-4 col-form-label bordaBottom">URL</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="url" formControlName="url">
          </div>
        </div>
      </form>
    </fieldset>

  </div>
  <div class="card-footer">
    <button class="btn btn-link float-left" [routerLink]="['/sistema']">Voltar</button>
    <button class="btn btn-link float-right" (click)="salvar()">Salvar</button>
  </div>
</div>
